
<div id="app">
    <template>
        <h1>跳转中。。。</h1>
    </template>
</div>

<script type="text/javascript">
    let authorl='@ViewBag.Authorurl';
    window.addEventListener('message',function(){
        console.log(event);
    if (event.origin ===authorl){
        const { lname } = event.data;
        const { getdata } = event.data;
        localStorage.setItem(lname,JSON.stringify(getdata));
        localStorage.setItem('keyname',lname);
    }
    },false);
  var vre = new Vue({
          el: "#app",
        data: {
            redirecturl:'',
            tocatchurl:''
        },
        mounted: function () {
          //如果不在iframe中
          if(self==top){
          this.Toredirect();
          }
        },
        methods: {
            Toredirect(){
            //心跳验证接口 如果验证失败则跳转登录页面
             let configs = {
                    method: 'get',
                    url: '/Login/Heartbeat'
                };
                httpaxios.request(configs).then(success=>{
                     iex.notify.success('验证成功！');
                    //window.location.href=this.redirecturl;
                },failed=>{
                    //let errormessage=failed.data.error_description;
                    //请求失败
                    iex.notify.error("验证失败");
                    //window.location.href=this.redirecturl;
                });
            }
         }
    });

</script>