<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!--jquery3.3.1-->
    <script src="~/js/jquery3.3.1/jquery.min.js"></script>

    <!--vue-->
    <script src="~/js/vue2.5.16/vue.min.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/qs.js"></script>

    <!--iview3.0.0-->
    <script src="~/js/iview3.0.0/iview.js"></script>
    <link href="~/js/iview3.0.0/styles/iview.css" rel="stylesheet" />
    <script src="~/js/iview3.0.0/locale/zh-CN.js"></script>
    <script src="~/js/iview.tools.js"></script>

    <!--百度编辑器-->
  @*  <script src="~/Content/js/ueditor1_4_3-utf8/ueditor.config.js"></script>
    <script src="~/Content/js/ueditor1_4_3-utf8/ueditor.all.js"></script>
    <script src="~/Content/js/ueditor1_4_3-utf8/lang/zh-cn/zh-cn.js"></script>*@

    <!--layer-v3.1.1-->
    <script src="~/js/layer-v3.1.1/layer.js"></script>
    <script src="~/js/layer.tools.js"></script>

    <!--组件-->
    <script src="~/js/component.js"></script>
    <!--全屏-->
    <script src="~/js/screenfull.js"></script>
    <!--自定义公共库-->
    <script src="~/js/tools.js"></script>
    <script src="~/js/i-extend.js"></script>
    <script src="~/js/jquery-extend.js"></script>
    <script src="~/js/httpsend.js"></script>

    <!-- 引入样式 -->
    @*<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">*@
    <!-- 引入组件库 -->
    @*<script src="https://unpkg.com/element-ui/lib/index.js"></script>*@

    <!--公共样式-->
    <link href="~/css/platform.css" rel="stylesheet" />
    <link href="~/css/flex.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/loading.css" rel="stylesheet" />
    <link href="~/css/scrollbar.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script type="text/javascript">


    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
