@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>主页</h1>

<script type="text/javascript">
    window.addEventListener('message',function(){
        console.log(event);
    if (event.origin === 'http://localhost:5006'){
        const { key } = event.data;
        localStorage.setItem('getmy',key);
        //const value = localStorage.getItem(key);
        //console.log(value);
    
    }

    },false);

</script>